/*
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "Nordic nRF52840 OT1M NRF52840";
	compatible = "nordic,nrf52840-ot1m-nrf52840";

	chosen {
		zephyr,console = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Green LED";
		};
		led1: led_1 {
            gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
            label = "Red LED";
        };
	};
	buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpio1 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Button 0";
        };
    };
    aliases {
        btnapp = &button0;
    };
};

&gpio0 {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x000000000 0x00010000>;
		};
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00065000>;
		};
		slot1_partition: partition@75000 {
			label = "image-1";
			reg = <0x00075000 0x00065000>;
		};
		scratch_partition: partition@da000 {
			label = "image-scratch";
			reg = <0x000da000 0x0001e000>;
		};

		/*
		 * The flash starting at 0x000f8000 and ending at
		 * 0x000fffff is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};


&gpio0 {
	status = "okay";
};

&spi2 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	sck-pin = <24>;
	mosi-pin = <13>;
	miso-pin = <22>;
	cs-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;

	waveshare4in2@0 {
		compatible = "waveshare,4in2";
		label = "WaveShare_4IN2";
		spi-max-frequency = <4000000>;
		reg = <0>;
		power-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
		dc-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
	};
};

&i2c1 {
	compatible = "nordic,nrf-twi";
	/* Cannot be used together with spi1. */
	status = "okay";
	sda-pin = <7>;
	scl-pin = <12>;
	sht3xd@44 {
		compatible = "sensirion,sht3xd";
		reg = <0x44>;
		label = "SHT3XD";
	};
	lis3dh@19 {
		compatible = "st,lis2dh", "st,lis3dh";
		reg = <0x19>;
		label = "LIS3DH";
		irq-gpios = <&gpio0 29 0>;
	};
};


&qspi {
	status = "okay";
	sck-pin = <26>;
	io-pins = <6>, <4>, <8>, <5>;
	csn-pins = <30>;
	mx25r64: mx25r6435f@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		/* MX24R64 supports only pp and pp4io */
		writeoc = "pp4io";
		/* MX24R64 supports all readoc options */
		readoc = "read4io";
		sck-frequency = <8000000>;
		label = "MX25R64";
		jedec-id = [ef 40 18];
		sfdp-bfp = [
			e5 20 f1 ff  ff ff ff 03  44 eb 08 6b  08 3b 04 bb
			ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
			10 d8 00 ff  23 72 f5 00  82 ed 04 cc  44 83 68 44
			30 b0 30 b0  f7 c4 d5 5c  00 be 29 ff  f0 d0 ff ff
		];
		size = <67108864>;
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};

