
config APP_AT_MODEM
    bool "enable app at modem module"
    default n

config APP_MODEM_EN_PIN
    bool "enable app at modem module"
    default n

config APP_LWM2M
    bool "enable app lwm2m module"
    default n

config APP_COAP
    bool "enable app coap module"
    default n

config APP_TESTING
    bool "enable app testing"
    default n

config APP_AT_DEV_NAME
	string "Device Name of UART Device for AT Command"
	default "UART_0"

config APP_AT_DEV_ALWAYS_ON
    bool "AT UART not enter low power mode"
    default n

config APP_AT_CMD_MAX_LEN
	int "AT CMD MAX SIZE"
	default 512

config APP_AT_RESPONSE_MAX_LEN
	int "AT RESPONSE MAX SIZE"
	default 512


config APP_AT_MAX_PARAM
    int "AT CMD MAX PARAM"
	default 10


source "Kconfig.zephyr"


