#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

config APP_SENSOR
	bool "App SENSOR"
	default n
	select I2C
    select SENSOR
    select SHT3XD

