#

# Copyright (c) 2018 Nordic Semiconductor ASA
#

# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Libraries"

rsource "coap/Kconfig"
rsource "openthread/Kconfig"
rsource "settings/Kconfig"
rsource "lwm2m/Kconfig"
rsource "sht30d/Kconfig"
rsource "button/Kconfig"
rsource "display/Kconfig"
rsource "sensor/Kconfig"

endmenu
