#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "App Display Configure"

config APP_DISPLAY
	bool "App Display Configure"
    select SPI
    select SPI_ASYNC
    select DISPLAY
    select WAVESHARE_4IN2
    select CHARACTER_FRAMEBUFFER

endmenu

